<h1  class="header__heading">Cocktail Recipes</h1>
<h2>Please select an option</h2>

<form [formGroup]="form">
  <mat-radio-group
    placeholder="Select search type"
    (change)="setFilter($event)"
    formControlName="type"
  >
    <mat-radio-button color="primary" value="1">Name</mat-radio-button>
    <mat-radio-button color="primary" value="2">Category</mat-radio-button>
    <mat-radio-button color="primary" value="3">Ingredients</mat-radio-button>
  </mat-radio-group>
  <br /><br/>
  <mat-form-field class="demo-full-width" *ngIf="selectedFilter == 1">
    <input
      (keyup)="debounceData($event)"
      formControlName="name"
      matInput
      placeholder="Please


      type cocktail Name"
    />
  </mat-form-field>
  <mat-form-field *ngIf="selectedFilter == 2">
    <mat-select
      placeholder="Please select Category"
      formControlName="categorylist"
      (selectionChange)="debounceData($event)"
    >
      <mat-option
        [value]="option.strCategory"
        *ngFor="let option of filterList"
        >{{ option.strCategory }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selectedFilter == 3">
    <mat-select
      placeholder="Please select Ingredient"
      formControlName="ingredientlist"
      (selectionChange)="debounceData($event)"
    >
      <mat-option
        [value]="option.strIngredient1"
        *ngFor="let option of filterList"
        >{{ option.strIngredient1 }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>
<ng-container *ngIf="!loader;else showLoader">
<div class="mat-elevation-z8" *ngIf="listData && listData.length>0;else notFound">
  <div *ngIf="selectedFilter == '1'">
    <app-name
      *ngIf="listData && listData.length > 0"
      [nameBaseData]="listData"
    ></app-name>
  </div>
  <div *ngIf="selectedFilter == '2'">
    <app-category [categoryBaseData]="listData"></app-category>
  </div>
  <div *ngIf="selectedFilter == '3'">
    <app-category [categoryBaseData]="listData"></app-category>
  </div>
</div>
<ng-template #notFound>
  <div class="drink-search__message" >
    <p>{{selectedFilter ==2?'Nothing found.Please a category':selectedFilter ==3?'Nothing found.Please select an Ingredient':'No results found' }}</p>
  </div>
</ng-template>
</ng-container>
<ng-template #showLoader>
<mat-progress-spinner *ngIf="loader"  mode="indeterminate"></mat-progress-spinner>
</ng-template>
